Source: lipsia
Section: science
Priority: optional
Maintainer: Lipsia Group (The official Lipsia developer group) <lipsia@cbs.mpg.de>
Build-Depends: libboost1.37-dev (>= 1.37.0-1) | libboost1.40-dev (>= 1.40.0-1) | libboost1.42-dev (>= 1.42.0-1) | libboost1.35-dev (>= 1.35.0-1), cdbs, debhelper (>= 5), cmake, fftw3-dev, libdcmtk1-dev, libgsl0-dev, libqt3-compat-headers, libqt3-mt-dev, libvia-dev (>= 1.4.1), libisiscore0-dev, libgl1-mesa-dev | nvidia-glx-dev, libf2c2-dev
Standards-Version: 3.8.3.0
Homepage: http://www.cbs.mpg.de/institute/software/lipsia
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/lipsia.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/lipsia.git
XS-DM-Upload-Allowed: yes

Package: lipsia
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-qt4-dev, python-qt4, dcmtk, libisiscore0, isisio0-vista, isisio0-dicom, isisio0-nifti, isisio0-gz-proxy, isis-python
Recommends: via-bin, isisio0-tar-proxy, isis-utils, isisio0-png, lipsia-doc
Description: analysis suite for MRI and fMRI data
 Leipzig Image Processing and Statistical Inference Algorithms (LIPSIA)
 .
 This is a software package for the data processing and evaluation of
 functional magnetic resonance images. The analysis of fMRI data comprises
 various aspects including filtering, spatial transformation, statistical
 evaluation as well as segmentation and visualization. All these aspects are
 covered by LIPSIA. For the statistical evaluation, a number of well established
 and peer-reviewed algorithms were implemented in LIPSIA that allow an effcient
 and user-friendly processing of fMRI data sets. As the amount of data that must
 be handled is enormous, an important aspect in the development LIPSIA was the
 efficiency of the software implementation.
 .
 LIPSIA operates exclusively on data in the VISTA data format. However, the
 package contains converters for medical image data in iBruker, ANALYZE  and
 NIfTI format -- converting VISTA images into NIfTI files is also supported.



Package: lipsia-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Analysis of MRI and fMRI data - development files
 Leipzig Image Processing and Statistical Inference Algorithms (LIPSIA)
 .
 The software package LIPSIA was developed by the Max Planck Institute of
 Cognitive Neuroscience, Leipzig, for the data processing and evaluation of
 functional magnetic resonance images. The analysis of fMRI data comprises
 various aspects including filtering, spatial transformation, statistical
 evaluation as well as segmentation and visualization. All these aspects are
 covered by LIPSIA. For the statistical evaluation, a number of well established
 and peer-reviewed algorithms were implemented in LIPSIA that allow an effcient
 and user-friendly processing of fMRI data sets. As the amount of data that must
 be handled is enormous, an important aspect in the development LIPSIA was the
 efficiency of the software implementation. In LIPSIA, particular emphasis was
 placed on the development of new visualization and segmentation techniques that
 support visualizations of individual brain anatomy so that experts can assess
 the exact location of activation patterns in individual brains.
 .
 This package provides the header files and static libraries of arfit lipsia 
 and vlh.


Package: lipsia-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for LIPSIA
 Leipzig Image Processing and Statistical Inference Algorithms (LIPSIA)
 .
 This is a software package for the data processing and evaluation of
 functional magnetic resonance images. The analysis of fMRI data comprises
 various aspects including filtering, spatial transformation, statistical
 evaluation as well as segmentation and visualization. All these aspects are
 covered by LIPSIA. For the statistical evaluation, a number of well established
 and peer-reviewed algorithms were implemented in LIPSIA that allow an effcient
 and user-friendly processing of fMRI data sets. As the amount of data that must
 be handled is enormous, an important aspect in the development LIPSIA was the
 efficiency of the software implementation.
 .
 This package provides the LIPSIA documentation in HTML format.
